@font-face {
    font-family: 'db_helvethaica';
    src: url('../fonts/db_helvethaica_x_cond_v3.2-webfont.eot');
    src: url('../fonts/db_helvethaica_x_cond_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/db_helvethaica_x_cond_v3.2-webfont.woff2') format('woff2'), url('../fonts/db_helvethaica_x_cond_v3.2-webfont.woff') format('woff'), url('../fonts/db_helvethaica_x_cond_v3.2-webfont.ttf') format('truetype'), url('../fonts/db_../fonts/helvethaica_x_cond_v3.2-webfont.svg#db_helvethaica') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_helvethaica_bd';
    src: url('../fonts/db_helvethaica_x_bd_v3.2-webfont.eot');
    src: url('../fonts/db_helvethaica_x_bd_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/db_helvethaica_x_bd_v3.2-webfont.woff2') format('woff2'), url('../fonts/db_helvethaica_x_bd_v3.2-webfont.woff') format('woff'), url('../fonts/db_helvethaica_x_bd_v3.2-webfont.ttf') format('truetype'), url('../fonts/db_helvethaica_x_bd_v3.2-webfont.svg#db_helvethaica_bd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_helvethaica_bdcond';
    src: url('../fonts/db_helvethaica_x_bd_cond_v3.2_0-webfont.eot');
    src: url('../fonts/db_helvethaica_x_bd_cond_v3.2_0-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/db_helvethaica_x_bd_cond_v3.2_0-webfont.woff2') format('woff2'), url('../fonts/db_helvethaica_x_bd_cond_v3.2_0-webfont.woff') format('woff'), url('../fonts/db_helvethaica_x_bd_cond_v3.2_0-webfont.ttf') format('truetype'), url('../fonts/db_helvethaica_x_bd_cond_v3.2_0-webfont.svg#db_helvethaica_bdcond') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    /*background-color: #71aac8;*/
    background-color: #149f8e;
    padding-top: 70px;
    font-size: 18px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
    font-family: 'db_helvethaica';
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/*-- Homepage --*/

.pmd-user-info .media-left img {
    border-radius: 50%;
    border: solid 2px #fff;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 21px;
    letter-spacing: 1px;
    /*background-color: transparent!important;*/
}

.dropdown-menu>li>a {
    font-size: 21px;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.user-box {
    display: inline-block;
    float: right;
    padding-left: 0px;
}

#box-row-2 {
    clear: both;
}

.navbar-header {
    float: left;
}

.pmd-navbar .pmd-user-info {
    float: right;
    margin-left: 0px;
}

.navbar-brand img {
    margin-left: auto;
    margin-right: auto;
}

.nav>li>a {
    padding: 10px 0px;
}

.search-box .btn {
    background-color: transparent;
    min-width: 0px;
    margin-top: 8px;
    padding: 7px 5px 0px 5px;
}

.search-box .form-control {
    max-width: 80%;
    float: left;
    margin: 10px 0px;
    font-size: 21px;
}

.footer-maread {
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 35px;
}

.media-left,
.media > .pull-left {
    padding-right: 0px;
    border-radius: 50%;
}


/*.menu-desktop img {
    width: 100%;
}*/

.navbar {
    /*background-color: #71a9c9;*/
    background-color: #149f8e;
}

.hilight-homepage img {
    /*border-top-right-radius: 10px;*/
    /*border-top-left-radius: 10px;*/
    margin-left: auto;
    margin-right: auto;
}

.section-row {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 0px 20px;
}

.head-title .text-title {
    float: left;
    font-size: 36px;
    color: #71aac8;
    font-style: italic;
}

.head-title .all-next {
    float: right;
    margin-top: 15px;
    color: #71aac8;
    font-size: 30px;
    margin-top: 25px;
}

.popular-list {
    clear: both;
}

.bookmark {
    overflow: hidden;
}

.hilight-homepage {
    margin-left: -20px;
    margin-right: -20px;
    /*background-image: url(../images/icon_aboutus.png);*/
}

.popular-list .pmd-card-list {
    background-color: transparent;
}

.popular-list .pmd-list .list-group-item {
    padding: 0px;
    margin-bottom: 2px;
    line-height: 100%
}

.popular-list .number span {
    font-size: 60px;
    color: #7a858b;
}

.popular-list .media-left.number {
    padding-right: 20px;
    font-style: italic;
    vertical-align: middle;
    font-size: 60px;
    padding-left: 10px;
    color: #7a858b;
    min-width: 80px;
    text-align: center;
}

.popular-list .media-body h3 {
    font-size: 26px;
    color: #7a858b;
    line-height: 100%;
}

.favorite-data,
.favorite-data i {
    color: #e76c6c!important;
}

.popular-list .category-data,
.popular-list .category-data i {
    text-align: right;
    color: #5b9eb3;
}

.popular-list .category-data {
    text-align: right;
}

.popular-list .thumbnail {
    width: 84px;
    height: 84px;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
}

.popular-list .thumbnail>img {
    max-width: initial;
}

.home-section-3 {
    background-color: transparent;
}

.home-section-3 .popular h3 {
    color: #fff;
}

.popular .all-next {
    color: #fff;
    margin-left: -22px;
    margin-top: 30px;
}

.bookmark .all-next,
.latest .all-next {
    margin-left: -22px;
    margin-top: 30px;
}

.popular-list .list-group:nth-child(2) {
    display: none;
}

.bookmark-list-row {
    overflow: hidden;
}

.col-3 {
    width: 33.3333%;
    float: left;
    padding-left: 2px;
    padding-right: 2px;
}


/*-- Thumbnail --*/


/*.thumbnail {
  position: relative;
  width: 84px;
  height: 84px;
  overflow: hidden;
  border: none;
  border-radius: 0px;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}*/

.thumbnail {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.feature-thumbnail {
    /*width: 100%;*/
    /*height: 0;*/
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-bottom: 10px;
    background-color: #999;
}

.feature-thumbnail img {
    /*width: auto;*/
    height: 100%;
    position: absolute;
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: -65%;*/
    max-width: inherit;
}

.title-article {
    font-size: 24px;
    color: #7a858b;
}

.favorite-data i {
    font-size: 20px;
}

.favorite-data span {
    position: relative;
    top: -5px;
    left: 3px;
    font-size: 22px;
}

.latest {
    overflow: hidden;
}

.latest-list-row {
    overflow: hidden;
}

.block-row {
    clear: both;
}

.title-content {
    margin-bottom: 10px;
}

.update:after,
.new:after {
    content: url('../images/ribbinupdate.png');
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 66px;
    width: 66px;
    margin-bottom: -66px;
    z-index: 1;
}

.new:after {
    content: url(../images/ribbinnew.png);
}


/*.update:before {
    content: url('../images/ribbinupdate.png');
    display: block;
    position: relative;
    top: -1px;
    right: -83px;
    margin-bottom: -71px;
    z-index: 1;
}*/

.home-popular .popular-list .media-body h3 {
    margin-top: 10px;
}

.home-popular .popular-list .thumbnail {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
}

.home-popular .popular-list .list-group {
    width: 100%;
}

.register-write a,
.register-read a {
    background-color: #ffffb5!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    color: #149f8e!important;
    margin-top: 15px;
}

.register-read a:before {
    content: url(../images/iconregister_read.png);
    position: relative;
    right: 5px;
    top: 1px;
}

.register-write a:before {
    content: url(../images/iconregister_write.png);
    position: relative;
    right: 5px;
    top: 1px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: transparent!important;
}


/*-- Story Read --*/

.title-numberep {
    background-color: #5d676c;
    overflow: hidden;
    padding: 10px 30px 0px;
    margin-bottom: 13px;
    margin-left: auto;
    margin-right: auto;
}

.title-numberep .icon-navigate-before {
    float: left;
}

.title-numberep h2 {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 24px;
    font-style: italic;
}

.title-numberep span {
    float: right;
}

.title-numberep span i {
    color: rgba(255, 255, 255, 0.5)!important;
}

.ep-number {
    font-size: 72px;
    color: #7a858b;
    font-style: italic;
    line-height: 100%;
}

.story-content,
.author-box,
.about-detail {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    color: #7a858b;
    font-size: 24px;
    line-height: 120%;
    padding-bottom: 25px;
}

.author-box {
    font-style: italic;
}

.author-box .name-author {
    color: #71a9c9;
    display: table-cell;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    vertical-align: middle;
}

.author-box .name-author span {
    margin-left: 5px;
}

.author-box .pic-profile {
    float: left;
}

.author-box .description {
    margin-top: 10px;
    max-width: 270px;
}

.comment-box {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}

.footer-ep {
    overflow: hidden;
    background-color: #5d676c;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 30px;
}

.footer-ep .like-count,
.footer-ep .like-count i {
    color: #e76c6c;
}

.footer-ep .navigator-ep {
    color: #fff;
    text-align: center;
}

.footer-ep .like-count span.count {
    position: relative;
    margin-left: 5px;
    top: -1px;
    letter-spacing: 1px;
}

.footer-ep .like-count i {
    position: relative;
    top: 5px;
}

.navigator-ep .number-ep {
    font-size: 24px;
    font-style: italic;
    margin-right: 9px;
    margin-left: 6px;
}

.footer-ep .navigator-ep i {
    position: relative;
    top: 6px;
    font-size: 24px;
}


/*-- Profile --*/

.add-newstory .feature-thumbnail {
    background-color: #bddef0;
}

.section-profile-author,
.section-head-page {
    margin-bottom: -90px;
}

.section-profile-author + .section-row,
.section-head-page + .section-row {
    padding-top: 90px;
}

.author-pic,
.title-head-pic {
    background-color: #149f8e;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.head-titlebar img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: solid 4px #fff;
    width: 75px;
}

.author-name h3,
.category-name h3 {
    font-size: 36px;
    color: #71a9c9;
    font-style: italic;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 3px;
}

.botton-login button {
    background-color: #71a9c9!important;
    padding: 0px 15px;
    min-width: 0px;
    font-size: 20px;
    text-transform: inherit;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 10px;
}

.botton-login {
    text-align: center;
}

.add-newstory .feature-thumbnail .addbox i.edit {
    position: absolute;
    top: 5px;
    left: -6px;
    font-size: 50px;
}

.add-newstory .feature-thumbnail .addbox i.add {
    position: absolute;
    top: 25px;
    left: 25px;
    color: #71a9c9;
    font-weight: bold;
    font-size: 30px;
}

.add-newstory .feature-thumbnail .addbox span {
    position: relative;
    top: 50px;
    left: -9px;
    font-size: 21px;
    color: #71a9c9;
}

.addbox {
    /*position: absolute;
    top: 8%;
    left: 24%;*/
}

.add-newstory .feature-thumbnail {
    background-image: url(../images/addnewstory.png);
    background-repeat: no-repeat;
    background-position: center;
}


/*-- Story --*/

.detail-count-box .favorite i {
    color: #e76c6c;
}

.detail-count-box .bookmark i {
    color: #71a9c9;
}

.detail-count-box .watched i {
    color: #71a9c9;
}

.detail-count-box {
    display: block;
    float: left;
    margin-top: 15px;
}

.detail-count-box i {
    margin-right: 5px;
    font-size: 14px;
    position: relative;
    top: 3px;
}

.detail-count-box span {
    margin-right: 15px;
}

.bookmark-share {
    float: right;
    margin-top: 15px;
}

.detail-count-box .name-author {
    color: #71a9c9;
    font-style: italic;
    position: relative;
    top: -10px;
}

.detail-count-box span.favorite {
    color: #e76c6c;
}

.post-date-data {
    text-align: right;
    color: #5b9eb3;
    margin-bottom: 5px;
    font-style: italic;
    padding-right: 10px;
}

.detail-count-box .watched {
    color: #71a9c9;
}

.detail-count-box .bookmark {
    color: #71a9c9;
}

.excerpt {
    clear: both;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 15px;
    color: #7a858b;
    text-indent: 25px;
}

.story-section .media-body {
    padding-top: 10px;
}

.story-section .list-group-item {
    background-color: #e6e6e6;
}

.story-section .list-group-item.top-first {
    background-color: #fff;
}

.author-relate-section .all-next {
    margin-top: 25px;
}


/*-- Story Edit --*/

.icon-edit {
    background-color: #aecee0;
    border-radius: 5px;
    padding: 5px;
}

.icon-delete {
    background-color: #e76c6c;
    border-radius: 5px;
    padding: 5px;
}

.edit-box {
    overflow: hidden;
    display: inline-block;
    float: right;
    margin-top: 15px;
}

.edit-delete-box {
    /*overflow: hidden;*/
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
}

.edit-delete-box span {
    float: left;
}

.post-date-data.edit-mode {
    text-align: left;
}

.add-new-chapter .icon-add {
    color: #aecee0;
    border: solid 2px;
    border-radius: 5px;
    padding: 8px;
    margin-left: 6px;
}

.story-section .list-group-item.add-new-chapter {
    background-color: #fff;
    min-height: 80px;
}

.add-new-chapter .media-left,
.add-new-chapter .media-body,
.add-new-chapter .media-right {
    vertical-align: middle;
    height: 80px;
}

.add-new-chapter .media-body {
    padding-top: 0px;
}

.edit-delete-box i {
    margin-left: 8px;
}

.storyedit-section .list-group-item {
    background-color: #fff;
}

.edit .pmd-dropdown-menu-bg {
    background-color: #aecee0!important;
}

.delete .pmd-dropdown-menu-bg {
    background-color: #e76c6c!important;
}

.edit .dropdown-menu > li > a,
.delete .dropdown-menu > li > a {
    color: #fff;
    font-size: 24px;
}

.heading-toppage {
    background-color: transparent;
    margin-bottom: 0px;
}

.heading-toppage h3 {
    font-size: 36px;
    color: #fff;
    font-style: italic;
    text-align: center;
}


/*-- Category Page --*/

.sort-by {
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sort-by .form-control {
    padding: 0px 12px;
    font-size: 23px;
    color: #75abcb;
    border: none;
    box-shadow: none;
}

.sort-by .form-control:focus {
    border-color: none;
}

/*-- About Page --*/

.about-detail {
    padding-top: 30px;
}
.about-detail h4 {
    font-size: 36px;
    color: #71a9c9;
    font-style: italic;
    text-align: left;
    margin-bottom: 3px;
}

@media (min-width: 768px) {
    /*.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
    width: auto;
}*/
    .pmd-navbar.navbar > .container .navbar-brand,
    .pmd-navbar.navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }
    /*span.menu-mobile {
        display: none;
    }*/
    .logo-mobile {
        display: none!important;
    }
    body {
        padding-top: 140px;
    }
    .navbar-nav>li {
        width: 12.5%;
        text-align: center;
    }
    .navbar-nav {
        float: none;
    }
    .col-md-4 {
        width: 33.3333%;
        float: left;
    }
    .popular-list .list-group:nth-child(2) {
        display: inherit;
    }
    .popular-list .list-group {
        width: 50%;
        float: left;
    }
    .story-section .popular-list .list-group {
        width: 95%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .col-3 {
        width: 16.6667%;
        padding-left: 7px;
        padding-right: 7px;
    }
    .feature-thumbnail {
        border-radius: 15px;
    }
    .title-numberep {
        max-width: 720px;
    }
    .popular-list .media-left.number {
        padding-right: 60px;
        padding-left: 60px;
        min-width: 170px;
    }
    .home-popular .popular-list .media-left.number {
        padding-right: 30px;
        padding-left: 30px;
        min-width: 100px;
    }
    .home-popular .popular-list .pmd-list .list-group-item {
        width: 50%;
        float: left;
    }
    .register-read,
    .register-write {
        float: right!important;
        margin-left: 5px;
    }
}

@media (min-width: 992px) {
    .col-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .title-numberep {
        max-width: 940px;
    }
    .search-box .form-control {
        max-width: 70%;
    }
}

@media (min-width: 1200px) {
    .col-3 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .title-numberep {
        max-width: 1140px;
    }
    .search-box .form-control {
        max-width: 60%;
    }
}

@media (max-width: 767px) {
    /*span.menu-desktop {
        display: none;
    }*/
    .logo-desktop {
        display: none!important;
    }
    .search-box {
        display: none;
    }
    /*.home-section-3 {
        padding: 0px 0px;
    }*/
    .bookmark-list-row .col-3:nth-child(1),
    .bookmark-list-row .col-3:nth-child(2),
    .bookmark-list-row .col-3:nth-child(3) {
        display: block;
    }
    .bookmark-list-row .col-3 {
        display: none;
    }
    .latest-list-row .block-row:nth-child(1) {
        display: block;
    }
    .latest-list-row .block-row {
        display: none;
    }
    .story-section {
        margin-left: -30px;
        margin-right: -30px;
    }
    .delete .pmd-dropdown-menu-container,
    .edit .pmd-dropdown-menu-container {
        right: 0px;
    }
    .edit-delete-box {
        top: initial;
        bottom: 10px;
        right: 20px;
    }
    .pmd-navbar .navbar-brand {
        padding: 15px 15px 15px 15px;
    }
    /*.register-write a, .register-read a {
        background-color: #149f8e!important;
        padding-top: 5px!important;
        padding-bottom: 5px!important;
        color: #ffffb5!important;
        margin-top: 15px;
    }*/
}
